<ion-header>
  <ion-toolbar>
    <ion-title>Fogyasztási adatok szerkesztése</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <form #Form="ngForm">

      <ion-item>
        <ion-label position="floating">Dátum*:</ion-label>
        <ion-datetime  name="refuelDate"
         [(ngModel)]="refuel.refuelDate"
         displayFormat="YYYY. MM. DD. HH:mm"
         display-timezone="Europe/Budapest"
         doneText="Kész"
         cancelText="Mégse"
         ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Kilométer óra állása*:</ion-label>
        <ion-input name="odometerValue" [(ngModel)]="refuel.odometerValue" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Tankolt üzemanyag mennyisége*:</ion-label>
        <ion-input name="fuelAmount" [(ngModel)]="refuel.fuelAmount" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Összesen fizetett összeg*:</ion-label>
        <ion-input name="price" [(ngModel)]="refuel.price" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Egyéb megjegyzés:</ion-label>
        <ion-textarea name="notes" [(ngModel)]="refuel.notes" maxlength="350"></ion-textarea>
      </ion-item>

      <p>A csillaggal jelzettek kötelezőek</p>

      <ion-button (click)="save()" [disabled]="!Form.valid" expand="full" shape="round">Mentés</ion-button>
    </form>

  </ion-grid>

</ion-content>

