<ion-header>
  <ion-toolbar>
    <ion-title>Regisztráció</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <form #Form="ngForm">
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input name="email" [(ngModel)]="email"  #emailInput="ngModel" type="email" email required></ion-input>
      </ion-item>

      <!-- Validation -->
      <ion-item *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <ion-text *ngIf="emailInput.invalid" color="danger">Az e-mail cím érvénytelen!</ion-text>
      </ion-item>
      <!-- /Validation -->

      <ion-item>
        <ion-label position="floating">Jelszó:</ion-label>
        <ion-input name="password" [(ngModel)]="password" #passwordInput="ngModel" type="password" required minlength="6" maxlength="12"></ion-input>
      </ion-item>

      <!-- Validation -->
      <ion-item *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
        <ion-text color="danger">
          <p *ngIf="passwordInput.errors?.required">Az jelszó kötelező!</p>
          <p *ngIf="passwordInput.errors?.minlength">Minimum 6 karakter szükséges!</p>
        </ion-text>
      </ion-item>
      <!-- /Validation -->

      <ion-item>
        <ion-label position="floating">Jelszó megerősítése:</ion-label>
        <ion-input name="confirmPassword" [(ngModel)]="confirmPassword"  type="password" required></ion-input>
      </ion-item>

      <ion-item *ngIf="password !== confirmPassword">
        <ion-text color="danger">A két jelszó nem egyezik!</ion-text>
      </ion-item>

      <ion-button (click)="register()" [disabled]="!Form.valid || password !== confirmPassword" expand="full" shape="round">Regisztráció</ion-button>
    </form>
  </ion-grid>

</ion-content>
