<ion-header>
  <ion-toolbar>
    <ion-title>Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <form #Form="ngForm">
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input name="email" [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Jelszó:</ion-label>
        <ion-input name="password" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>


      <ion-button (click)="register()" [disabled]="!Form.valid" expand="full" shape="round">Regisztráció</ion-button>
    </form>
  </ion-grid>

</ion-content>
