<ion-header>
  <ion-toolbar>
    <ion-title>
      Fogyasztási adatok
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/refuel', vehicleId, 'edit']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid fixed>

    <ion-card *ngFor="let refuel of refuels">

      <ion-item>
        <ion-icon name="refuelDate" slot="start"></ion-icon>
        <ion-label>Dátum: {{refuel.refuelDate}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="odometerValue" slot="start"></ion-icon>
        <ion-label>Kilométer állás:{{refuel.odometerValue}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="fuelAmount" slot="start"></ion-icon>
        <ion-label>Tankolt üzemanyag mennyisége:{{refuel.fuelAmount}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="fuelAmount" slot="start"></ion-icon>
        <ion-label>Összesen kifizetett összeg:{{refuel.price}} Ft</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="notes" slot="start"></ion-icon>
        <ion-label>Egyébb megjegyzés:{{refuel.notes}}</ion-label>
      </ion-item>

      <ion-button [routerLink]="['/refuel', vehicleId, 'edit', refuel._id]" size="small" color="primary">Szerkeszt</ion-button>
      <ion-button (click)="deleteRefuel(refuel._id)" size="small" color="danger">Törlés</ion-button>


    </ion-card>

  </ion-grid>
</ion-content>
