<ion-header>
  <ion-toolbar>
    <ion-title>
      Fogyasztási adatok
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/refuel', vehicleId, 'edit']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid fixed>

    <ion-item>
      {{licensePlate}}
    </ion-item>

    <ion-card *ngFor="let refuel of refuels">

      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label text-wrap>Dátum: <strong>{{refuel.refuelDate | date:'YYYY. MM. dd. HH:mm'}}</strong></ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="speedometer" slot="start"></ion-icon>
        <ion-label text-wrap>Kilométer állás: <strong>{{refuel.odometerValue | number}} </strong>km</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="car" slot="start"></ion-icon>
        <ion-label text-wrap>Tankolt üzemanyag: <strong>{{refuel.fuelAmount | number}}</strong> liter</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="cash-sharp" slot="start"></ion-icon>
        <ion-label text-wrap>Üzemanyag ár/liter: <strong>{{refuel.pricePerLiter | number}}</strong> FT/l</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="pulse" slot="start"></ion-icon>
        <ion-label *ngIf="refuel.mileage" text-wrap>Átlagfogyasztás: <strong>{{refuel.mileage | number}}</strong> Liter/100km</ion-label>
        <ion-label *ngIf="!refuel.mileage" text-wrap>Átlagfogyasztás: <strong>N/A</strong></ion-label>
        <ion-badge color="warning">Tele tankolásnál!</ion-badge>
      </ion-item>

      <ion-item>
        <ion-icon name="wallet" slot="start"></ion-icon>
        <ion-label text-wrap>Kifizetett összeg: <strong>{{refuel.price | number}}</strong> Ft</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="pencil" slot="start"></ion-icon>
        <ion-label text-wrap>Egyéb: <strong>{{refuel.notes}}</strong></ion-label>
      </ion-item>

      <ion-item>
        <ion-button  fill="outline" [routerLink]="['/refuel', vehicleId, 'edit', refuel._id]" size="small" color="primary">Szerkeszt</ion-button>
        <ion-button fill="outline" (click)="deleteRefuel(refuel._id)" size="small" color="danger">Törlés</ion-button>
      </ion-item>

    </ion-card>

  </ion-grid>
</ion-content>
